argcomplete==3.5.3
attrs==24.1.0
build==1.2.2
CacheControl==0.14.3
cachy==0.3.0
cairocffi==1.6.1
cffi==1.17.1
charset-normalizer==3.4.2
cleo==2.1.0
click==8.1.8
crashtest==0.4.1
cryptography==44.0.3
distlib==0.3.9
distro==1.9.0
docopt==0.6.2
dulwich==0.22.8
fastjsonschema==2.21.1
filelock==3.18.0
findpython==0.6.3
html5lib==1.1
idna==3.10
installer==0.7.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.9.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==25.6.0
lark==1.2.2
lit==19.1.7.dev0
lockfile==0.12.2
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==10.7.0
msgpack==1.0.5
packaging==25.0
pbs-installer==2025.3.17
pexpect==4.9.0
pillow==11.2.1
pipx==1.7.1
pkginfo==1.12.0
platformdirs==4.3.6
poetry==2.1.2
poetry-core==2.1.2
poetry-plugin-export==1.9.0
ptyprocess==0.7.0
pycparser==2.22
Pygments==2.19.1
PyGObject==3.52.3
pyproject_hooks==1.2.0
pywhat==5.1.0
qtile==0.31.1.dev0+g8666bfc8.d20250312
ranger-fm==1.9.4
RapidFuzz==3.12.2
referencing==0.35.1
requests==2.32.3
requests-toolbelt==1.0.0
rich==14.0.0
rpds-py==0.22.3
SecretStorage==3.3.3
shellingham==1.5.4
six==1.17.0
tomlkit==0.13.2
trove-classifiers==2025.5.8.13
typing_extensions==4.13.2
ueberzug==18.3.1
urllib3==2.4.0
userpath==1.9.2
virtualenv==20.28.0
webencodings==0.5.1
wheel==0.45.1
xcffib==1.5.0
